		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.twitter.com/phillipkruger" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
					<li><a href="https://plus.google.com/u/0/+PhillipKr%C3%BCger" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
					<li><a href="http://www.linkedin.com/in/phillipkruger" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://github.com/phillip-kruger" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
					<li><a href="https://www.last.fm/user/phillipkruger" class="icon fa-lastfm" target="_blank"><span class="label">LastFM</span></a></li>
					<li><a href="https://www.udemy.com/user/phillip-kruger/" class="icon fa-graduation-cap" target="_blank"><span class="label">Udemy</span></a></li>

				</ul>
				<ul class="copyright">
					<li>&copy; 2017 Phillip Krüger . All rights reserved.</li>
				</ul>
			</footer>

	</body>
</html>
